:global(.css-tro0v4 > ul:first-of-type) {
  display: none !important;
  visibility: hidden !important;
}

:global(.css-1aw2itu > ul:first-of-type) {
  display: none !important;
  visibility: hidden !important;
}